<h1> <%= @task.title %></h1>

<p> <%= @task.details %></p>

<input type="checkbox" name="completed"
<%= 'checked' if @task.completed %>>
<%= @task.completed ? "This task is completed" : "This task isn't completed yet" %>

<p><%= link_to "Edit this task", edit_task_path  %></p>

<p><%= link_to "Back to list", tasks_path  %></p>


